<div class="container">
  <div class="filtro-fechas">
    <form [formGroup]="filterForm" (ngSubmit)="filterPurchases()">
      <label for="startDate">Fecha inicial:</label>
      <input type="date" id="startDate" formControlName="startDate" />

      <label for="endDate">Fecha final:</label>
      <input type="date" id="endDate" formControlName="endDate" />

      <button type="submit">Filtrar</button>
    </form>
  </div>

  <div class="purchases-list">
    <h2 *ngIf="filteredPurchases.length === 0">No se realizaron compras entre las fechas seleccionadas.</h2>
    <div *ngIf="filteredPurchases.length !== 0">
      <h2>Compras realizadas: {{purchases.length}}</h2>
      <div *ngFor="let purchase of purchases">
        <div class="purchase-item">
          <p>ID Compra: {{ purchase.idPu }} - Fecha: {{ purchase.datePu | date }} - Número de Envío:
            {{purchase.shipment.idSh}} (Estado: {{purchase.shipment.status}}) - Usuario: {{purchase.user.nameUs | titlecase}} {{purchase.user.lastNameUs | titlecase}} (ID: {{ purchase.user.idUs }}) -
            Total: {{ purchase.amount | currency }}</p>
          <p>Productos:</p>
          <div *ngFor="let product of purchase.products">
            ID: {{product.clothe?.idCl}} - {{ product.clothe?.nameCl }} - Quantity: {{product.quantity}} - {{
            product.unitPrice | currency }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>