<div class="my-form">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" >
        <h1>Sign Up</h1>
        <div class="text-field">
            <label for="firstName">Name</label>
            <input type="text" id="name" name="firstName" placeholder="John" autocomplete="off" formControlName="nameUs" ngClass="{is-invalid: hasError('firstName', 'required')}">
            @if (hasError('firstName', 'required')){
                <span class="error-message" >Name is required</span>}
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Doe" autocomplete="off" formControlName="lastNameUs" ngClass="{is-invalid: hasError('lastName', 'required')}">
            @if (hasError('lastName', 'required')){
                <span class="error-message" >Last Name is required</span>}
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="johndoe@gmail.com" autocomplete="off" formControlName="emailUs" ngClass="{is-invalid: hasError('email', 'required') || hasError('email', 'email')}">
            @if (hasError('email', 'required')){
                <span class="error-message" >Email is required</span>}
            @if (hasError('email', 'email')){
                <span class="error-message" >Email is invalid</span>}
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password" autocomplete="off" formControlName="passwordUs" ngClass="{is-invalid: hasError('password', 'required') || hasError('password', 'minlenght')}">
            @if (hasError('password', 'required')){
                <span class="error-message" >Password is required</span>}
            @if (hasError('password', 'minlength')){
                <span class="error-message" >Password is too short</span>}
            <label for="dni" >DNI</label>
            <input type="text" id="dni" name="dni" placeholder="12345678" autocomplete="off" formControlName="dni" ngClass="{is-invalid: hasError('dni', 'required') || hasError('dni', 'minlength')}">
            @if (hasError('dni', 'required')){
                <span class="error-message" >DNI is required</span>}
            @if (hasError('dni', 'minlength')){
                <span class="error-message" >DNI is too short</span>}
            <label for="phone" >Phone</label>
            <input type="text" id="phone" name="phone" placeholder="12345678" autocomplete="off" formControlName="phoneUs" ngClass="{is-invalid: hasError('phone', 'required') || hasError('phone', 'minlength')}">
            @if (hasError('phone', 'required')){
                <span class="error-message" >Phone is required</span>}
            @if (hasError('phone', 'minlength')){
                <span class="error-message" >Phone is too short</span>}
            <label for="address" >Address</label>
            <input type="text" id="address" name="address" placeholder="1234 Main St" autocomplete="off" formControlName="addressUs" ngClass="{is-invalid: hasError('address', 'required')}">
            @if (hasError('address', 'required')){
                <span class="error-message" >Address is required</span>}
            <label for="postalCode" >Postal Code</label>
            <input type="text" id="postalCode" name="postalCode" placeholder="1234" autocomplete="off" formControlName="postalCode" ngClass="{is-invalid: hasError('postalCode', 'required')}">
            @if (hasError('postalCode', 'required')){
                <span class="error-message" >Postal Code is required</span>}
        </div>
        <button type="submit" class="my-form__button" >Sign Up</button>
    </form>
    <div class="my-form__actions">
        <div class="my-form__row">
            <span>Do you have an account?</span>
            <a class="nav-item nav-link" [routerLink]="['/login']" [ngClass]="{active: menuOption == 'login'}" (click)="onOption('login')">Log In</a>
        </div>
    </div>
</div>