* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-form {
    display: flex;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background: var(--back-color);
    border: var(--border-color) 1px solid;
    margin-bottom: 30px;
    width: 100%;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.05);
    height: fit-content;
}

.my-form__button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
