<div class="container">
        <div class="card" style="width: 20rem;">
            <img src="{{cloth?.image}}" class="card-img-top">
            <div class="card-body">
                <p class="card-title">{{cloth?.nameCl}}</p>
                <p class="card-text">{{cloth?.description}}</p>
                <div class="total-container">
                    <div class="size">
                        Size:  {{cloth?.size}}
                    </div>
                    <div class="price">
                        ${{cloth?.price}}
                    </div>
                </div>
            </div>
            <button type="button" *ngIf="userRole==='user'" class="button btn btn-primary" (click)="addToBag(cloth)">Add to bag</button>
        </div>
</div>