@if (loading == true){
<div class="container">
    <div class="purchases-list">
        <h2>Compra realizada:</h2>
        <div class="loading">Cargando...</div>
    </div>
</div>
}

@else {
<div class="container">
    <div class="purchases-list">
        <h2>Compra realizada:</h2>
        <div class="purchase-item">
            <p>Compra: {{ purchase?.idPu }} --- Fecha: {{ purchase?.datePu | date }} --- Envío:
                {{purchase?.shipment.idSh}} --- Usuario: {{purchase?.user.nameUs | uppercase}} --- Total: {{
                purchase?.amount | currency }}</p>
            <p>Productos:</p>
            <p *ngFor="let product of purchaseClothes">
                ID: {{product.clothe.idCl}} - {{ product.clothe.nameCl }} - Size: {{ product.clothe.size }} - Quantity:
                {{ product.quantity }} - Price: {{ product.unitPrice | currency }}
            </p>
        </div>
    </div>
    <button class="button" (click)="navigate()">Go back to home</button>
</div>
}