<div class="product-grid">
    <div class="product-card" *ngFor="let product of productList">
        <img [src]="product.image" alt="{{ product.description }}" class="product-image" />
        <h2>{{ product.nameCl }}</h2>
        <h3>{{ product.description }}</h3>
        <p class="product-price">${{ product.price }}</p>
        <p class="product-size">Size:  {{ product.size }}</p>
        @if (product.stock < 0){
            <p class="product-stock">Out of stock</p>}
        @else {
            <p class="product-stock">Stock: {{ product.stock }}</p>
            <button (click)="navegate(product.idCl)" class="view-button">Ver producto</button>
        }
    </div>
</div>