<div class="category-buttons">
    <a (click)="filterByCategory('T-shirt')" class="category-button" [ngClass]="{'selected': isCategorySelected('T-shirt')}">T-Shirts</a>
    <a (click)="filterByCategory('Pants')" class="category-button" [ngClass]="{'selected': isCategorySelected('Pants')}">Pants</a>
    <a (click)="filterByCategory('Shoes')" class="category-button" [ngClass]="{'selected': isCategorySelected('Shoes')}">Shoes</a>
</div>
<div class="product-grid">
    <div class="product-card" *ngFor="let product of filteredProducts">
        <img [src]="product.image" alt="{{ product.description }}" class="product-image" />
        <h2>{{ product.nameCl }}</h2>
        <p>{{ product.description }}</p>
        <p class="product-price">${{ product.price }}</p>
        @if (product.stock == 0){
            <p class="product-stock">Size:  {{ product.size }} --- Out of stock</p>}
        @else {
            <p class="product-stock">Size:  {{ product.size }} --- Stock: {{ product.stock }}</p>
            <button *ngIf="userRole==='user'" (click)="navegate('/products/', product.idCl)" class="view-button">Ver producto</button>
        }
        <button type="button" *ngIf="userRole==='admin'" class="btn btn-primary" (click)="navegate('/edit-price/', product.idCl)">Edit Price</button>
        <p></p>
        <button type="button" *ngIf="userRole==='admin'" class="btn btn-primary" (click)="navegate('/add-stock/', product.idCl)">Add Stock</button>
    </div>
</div>