<div class="edit-price-container">
    <h2>Actualizar Precio del Producto</h2>
    <form [formGroup]="editPriceForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label for="productName">Nombre del producto: {{cloth.nameCl}}</label>
        </div>
        <div class="form-group">
            <label for="newPrice">Nuevo Precio</label>
            <input type="number" id="newPrice" class="form-control" formControlName="price" name="newPrice" required min="0"/>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editPriceForm.valid"> Actualizar Precio </button>
    </form>
</div>
