.edit-price-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #363636;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  h2 {
    text-align: center;
    color: #d6d6d6;
  }