<div class="edit-price-container">
    <h2>Actualizar Precio del Producto</h2>
    <form [formGroup]="editStockForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label for="productName">Nombre del producto: {{cloth.nameCl}}</label>
        </div>
            <div class="form-group">
            <label for="newStock">Unidades nuevas:</label>
            <input type="number" id="newStock" class="form-control" formControlName="stock" name="newStock" required min="0"/>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editStockForm.valid"> Actualizar Stock </button>
    </form>
</div>