:root{
    --text-color: #d6d6d6;
    --background-color: rgb(33, 33, 33);
    --border-color: #ddd;
    --back-color: #363636;
    --delete-color: #e74c3c;
    --pay-color: #0a6fda;
    --pay-color-selected: #0056b3;
    --back-home-color: rgb(196, 196, 196);
    --text-home-color: #131313;
}

html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
