* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-field select {
    color: rgb(25, 25, 25);
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--border-color);
    min-height: 3rem;
    letter-spacing: 0.3rem;
    outline: none;
    background: var(--back-home-color);
    transition: .25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.my-form {
    display: flex;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    background: var(--back-color);
    border: var(--border-color) 1px solid;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
}

.my-form__button {
    white-space: nowrap;
    border: none;
    margin-top: 1.8rem;
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
