<div class="my-form">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <h1 class="title">Add new locality</h1>
        <div class="text-field">
            <label for="nameLo">Name</label>
            <input type="text" id="nameLo" name="nameLo" placeholder="Casilda" autocomplete="off"
                formControlName="nameLo" ngClass="{is-invalid: hasError('nameLo', 'required')}">
            @if (hasError('nameLo', 'required')){
            <span class="error-message">Name is required</span>}

            <label for="postalCode">Postal Code</label>
            <input type="number" id="number" name="number" placeholder="1225" autocomplete="off"
                formControlName="postalCode" ngClass="{is-invalid: hasError('postalCode', 'required')}">
            @if (hasError('postalCode', 'required')){
            <span class="error-message">Postal code is required</span>}

            <label for="cost">Cost</label>
            <input type="number" min="0" id="cost" name="cost" placeholder="100" autocomplete="off"
                formControlName="cost" ngClass="{is-invalid: hasError('cost', 'required')}">
            @if (hasError('cost', 'required')){
            <span class="error-message">Cost is required</span>}

        </div>
        <button type="submit" class="my-form__button">Add</button>
    </form>
    <div class="my-form__actions">
        <div class="my-form__row">
        </div>
    </div>
</div>